h1 {
  text-align: center;
  text-transform: uppercase;
}

.nav-menu ul{
  list-style:none;
  margin-left:0;
  padding-left:0;
  display: flex;
  flex-direction: row;
}

.nav-menu ul li {
  margin-right: 10px;
}